<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drikkeleken</title>
    <link rel="stylesheet" href="../static/css/site.css">
</head>
<body>
    <main class="container">
        <div class="game-controls">
            <h1>Velkommen undersåtter til tidenes feteste Halloween Drikkelek</h1>
            <div class="button-group">
                <a href="questions.html" class="btn">Start Spill</a>
            </div>

        </div>
    </main>
</body>
</html>